[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
	ignore = dirty
[submodule "bundle/emmet-vim"]
	path = bundle/emmet-vim
	url = git://github.com/mattn/emmet-vim.git
	ignore = dirty
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
	ignore = dirty
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
	ignore = dirty
[submodule "bundle/vim-easymotion.git"]
	path = bundle/vim-easymotion.git
	url = git://github.com/easymotion/vim-easymotion.git
	ignore = dirty
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
	ignore = dirty
[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
	ignore = dirty
[submodule "bundle/vim-sleuth"]
	path = bundle/vim-sleuth
	url = git://github.com/tpope/vim-sleuth.git
	ignore = dirty
[submodule "bundle/vim-speeddating"]
	path = bundle/vim-speeddating
	url = git://github.com/tpope/vim-speeddating.git
	ignore = dirty
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
	ignore = dirty
[submodule "bundle/vim-autoswap"]
	path = bundle/vim-autoswap
	url = https://github.com/gioele/vim-autoswap.git
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "bundle/vim-slim"]
	path = bundle/vim-slim
	url = git://github.com/slim-template/vim-slim.git
[submodule "bundle/vim-textobj-quote"]
	path = bundle/vim-textobj-quote
	url = git://github.com/reedes/vim-textobj-quote.git
[submodule "bundle/vim-textobj-user"]
	path = bundle/vim-textobj-user
	url = git://github.com/kana/vim-textobj-user.git
[submodule "bundle/browserlink"]
	path = bundle/browserlink
	url = git://github.com/jaxbot/browserlink.vim.git
